.app-footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: smaller;
    color: #777;
    background-color: linear-gradient(to top, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.1));
}